  <!-- Футер -->
<footer class="footer">
    <div class="container footer--flex">
        
        <div class="footer__first">
            <p class="footer__text">&#169; 2020 | All Rights Reserved |</p>
        </div>
        <div class="footer__second">
            <p class="footer__text footer__text--margin">Developed with</p>
            <p class="footer__text">by <span class="footer__link" id="team">GoIT Students</span></p>
        </div>
    </div>
</footer>

<!-- /* .footer--flex {
display: flex;
} */

.footer__second {
display: flex;
justify-content: center;
align-items: center;
}

.footer__text {

font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-align: center;
color: var(--footer-grey-color);
}

.footer__text--margin {
margin-right: 10px;
} -->