// Тёмная тема спиннера



/* Стиль кнопки (перемикача)*/
.change_theme {
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgb(255 255 255 / 16%);
  fill: white;
  background-color: transparent;
}

button.change_theme[data-theme='onLight'] {
  display: block;
}

button.change_theme[data-theme='onDark'] {
  display: none;
}

body {
  background-color: #222222;
}

.movie__info .movie__title {
  color: white;
}

.tui-page-btn {
  color: white;
}


.loader.loader-black {
  background-color: #222222;
}

