//==========================================
//============ footer styles ==============//
//==========================================

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__first {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-right: 4px;
    margin-bottom: 0;
  }
}

.footer__second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--footer-grey-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__text--margin {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--accent-color);
  margin-left: 10px;
  animation: reduсe 5s ease-in-out infinite;
}

@keyframes reduсe {
  20% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.footer__link {
  text-decoration: underline;
  cursor: pointer;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
  font-weight: 500;
}

//==========================================
//============ Team modal ==============//
//==========================================

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(129, 129, 129, 0.7);

  transition: visibility 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
}

.footer__modal {
  z-index: 100;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: var(--white-text-color);
  padding: 25px 25px;

  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);

  max-height: 100%;
  overflow-y: auto;
  width: 80vw;

  @media screen and (min-width: 360px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 400px;
  }
  @media screen and (min-width: 600px) {
    width: 560px;
  }
}

.footer__modal.is-hidden {
  transform: translateX(-100%);
}

.modal__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (max-width: 360px) {
    justify-content: space-evenly;
  }
}

.modal__item {
  border-radius: 6px;
  overflow: hidden;
  width: 100px;
  box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 1);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 1);
  -moz-box-shadow: 0px 0px 6px 2px rgba(140, 140, 140, 1);

  @media screen and (min-width: 360px) {
    width: calc((100% - 15px) / 2);
  }
  @media screen and (min-width: 480px) {
    width: calc((100% - 15px * 2) / 3);
  }
  @media screen and (min-width: 600px) {
    width: calc((100% - 15px * 3) / 4);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 15px * 3) / 4);
  }
}

.modal__img {
  position: relative;
  background-color: var(--img-background-color);
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.modal__info {
  padding: 8px 5px;
  text-align: center;
  line-height: 1.14;
}
.modal__text {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
}

.modal__text--position {
  font-weight: 400;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 14px;
  }

  .modal__text--position {
    font-size: 12px;
  }
}

.team-masters {
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.modal__close-btn.footer-btn {
  top: 4px;
  right: 2px;
  border: 1px solid transparent;
  background-color: transparent;
}

.modal__icon:hover,
.modal__icon:focus {
  fill: var(--accent-color);
}

.modal__link {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
}
